doctype html
html(lang='en')
  head
    title Will Chantry
    script(src='bower_components/jquery/dist/jquery.min.js')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')    
    link(href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='styles/main.css')
    script(type='text/javascript', src="https://www.google.com/jsapi")
    script(type='text/javascript', src='scripts/main.min.js')


  body
    block content

